{% extends "base.html" %}

{% block title %}
    请假
{% endblock %}
{% block label %}

{% endblock %}

{# form包含table,好看 .tr是一行#}
{% block content %}
    <form>
        <table class="table table-bordered">
            <tr>
                <th colspan="4" style="text-align:center"><h1>请假条</h1></th>
            </tr>
            <tr>
                <th>请假人姓名</th>
                <td><input class="form-control form-control-user" type="text" name="request_user" placeholder="请假人"></td>
                <th>请假类型</th>
                <td>
                    <select class="form-control form-control-user" name="request_type">
                        <option>事假</option>
                        <option>病假</option>
                        <option>玩假</option>
                        <option>浪假</option>
                        <option>日假</option>
                        <option>月假</option>
                        <option>年假</option>
                        <option>时假</option>
                        <option>分假</option>
                    </select>
                </td>>
            </tr>
            <tr>
                <th>起始时间</th>
                <td>
                    <input class="form-control form-control-user" type="date" name="start_time">
                </td>
                <th>结束时间</th>
                <td>
                    <input class="form-control form-control-user" type="date" name="end_time">
                </td>
            </tr>
            <tr>
                <th>描述</th>
                <td colspan="3">
                    <textarea class="form-control form-control-user" name="request_decription">
                    </textarea>
                    <input class="btn btn-user btn-primary" type="submit" value="提交">
                </td>
            </tr>
            <tr>
                <th>联系方式</th>
                <td>
                    <input class="form-control form-control-user" type="text" name="phone">
                </td>
                <th>请假天数</th>
                <td>天数</td>
            </tr>
        </table>
    </form>
{% endblock %}

